*{
    margin:0px;
    padding:0px;
}

body{
    
    background:url('https://previews.123rf.com/images/stokkete/stokkete1504/stokkete150400023/38570405-businessman-working-at-office-desk-and-using-a-digital-tablet-computer-laptop-and-various-objects-al.jpg') no-repeat ;
    background-size:cover;
}

.menu .right{
    float:right;
}
.right ul li{
    float:left;
    width:400px;
    height:40px;
    background:black;
    color:white;
    opacity:.8;
    line-height:40px;
    text-align:center;
    font-size:20px;
    position:relative;

   
}
.right ul li a{
    text-decoration: none;
    display:inline-block;
    color:blue;
}

.right ul li:hover{
    background:rgb(65, 104, 175);
}
.right ul li ul li{
    display:none;
}
.menu{
    width:100%;
    height:100px;
    background-color:rgba(0,0,0,0.5);
}
.left{
    width:25%;
    line-height:80px;
    float:left;
}


.text{
    margin-top:170px;
    margin-left:500px;
    color:white;
    font-size:30px;
}
#btnone,#btntwo{
    display: inline-block;
background-color: #4b95da;
border-radius:5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:35px;
padding:8px;
margin-top:8px;
position:relative;
left:250px;
}
ul li:hover ul li{
    display:block;
}
.change_content:after{
content:'';
animation:changetext 10s infinite linear;
color:#b800a0;
font-size:75px;
}
@keyframes changetext{
    0%{content:"anytime";}
    20%{content:"anywhere";}
    35%{content:"everywhere";}

}
.footer{

background:rgba(0,0,0,0.5);
color:white;
width:100%;
height:400px;
margin-top:30px;
position:absolute;


}
.footer .footer-content{
    border:1px solid rgb(148, 93, 93);
    width:500px;
    height:100%;
    font-size:25px;
    padding:30px;
    font-family: cursive;

}
.footer .footer-about{
text-align:center;
position: relative;
bottom:55%;
left:140%;
}
.footer .contact-form{
text-align:center;
position:relative;
bottom:150%;
left:280%;
}
.container{

    width:100%;
    height: 500px;

}
.cards{
    margin-left:15px;
}
#seccard{
margin-left:20px;

}